button {
  font-family: 'Mabry pro', 'sans-serif';
  box-shadow: 3px 3px 0 #000;
  cursor: pointer;
  position: relative;
  text-align: center;
  justify-content: center;
  border-radius: 0.5rem;
  font-weight: 400;
  border: 2px solid #000;
}

button:hover {
  box-shadow: none;
  transform: translate(2px, 2px);
}
.button--xs {
  font-size: 14px;
  height: 24px;
  min-width: 80px;
  width: 80px;
  padding-left: 6px;
  padding-right: 6px;
}
.button--sm {
  font-size: 17px;
  height: 32px;
  min-width: 144px;
  width: 144px;
  padding-left: 10px;
  padding-right: 10px;
}
.button--md {
  font-size: 20px;
  height: 40px;
  min-width: 192px;
  width: 192px;
  padding-left: 14px;
  padding-right: 14px;
}
.button--lg {
  font-size: 22px;
  height: 48px;
  min-width: 240px;
  width: 240px;
  padding-left: 20px;
  padding-right: 20px;
}
.button--xl {
  font-size: 24px;
  height: 64px;
  min-width: 288px;
  width: 288px;
  padding-left: 24px;
  padding-right: 24px;
}
